/* DOG PICS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1,
form,
input {
    text-align: center;
    margin: 10px auto;
}

.hidden {
    display: none;
}

input {
    font-size: 18px;
}

form label, 
input {
    display: block;
}

input[type=submit] {
    padding: 5px;
    background-color: #00ffff;
    border-radius: 5px;
}

.group {
    display: flex;
    flex-direction: column;
}

.dogPic {
    flex: 1;
    width: 200px;
    margin: 5px auto;
}

/* .picBox h2 {
    display: block;
} */

@media all and (min-width: 600px){
    .group {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .dogPic {
        margin: 10px auto;
    }

    .picBox img {
        margin: 10px;
    }
}